body {
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 400;
    }

body h2 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: black;
    }


#header-nav{
    background-color:rgb(196, 195, 195);
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0;
    border: 0;
    color: black;
    }

#header-nav h2{
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: black;
    margin: 0;
}

.navbar-collapse{
    background-color:rgb(231, 229, 229);
    text-align: center;   
}

#nav-list a{
   border-bottom:grey solid 1px;
}

#content{
    font-family: 'Oxygen', sans-serif;  
    font-size: 16px;
    color: black;
    background-color: rgb(196, 195, 195);
    margin:30px;
    padding:20px;
}

#content h3{
    font-family: 'Oxygen', sans-serif;  
    font-weight: 700;
    color: black;   
}
